.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.row {
  margin: 0;
  @include cf;

  .header{
    height: 100px;
    border-bottom: 2px solid rgba(151, 151, 151, 0.1);
  }

  .borderless{
    border-bottom: none;
  }

}

[class^="col-"] {
  width: 100%;
  float: left;
  min-height: 1px;
  padding: 0 1em 1em 1em;
  font-size: $base-font;
}

[class^="col-"] {
  div {
    height: inherit;
    padding: .75em 0;
  }
}


@for $i from 1 through 12 {
  .col-#{$i} {
    @media screen and (min-width: 780px){
      width: (100% / 12) * $i;
    }

  }
}
