.header{
  height: 80px;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  border-bottom: 2px solid rgba(151, 151, 151, 0.1);
  z-index: 5;
}

.logohome{
  padding: 0;
  text-align: center;
}

.personallogo{
  width: 50px;
  max-height: 50px;
  margin-top: 15px;

}

.mainnav{
  text-align: right;
  background: #ffffff;
  padding: 0;

  ul{
    padding-top: 3em;

    @media screen and (max-width: 779px){
      padding-top: 1em;
    }
  }

  li{
    list-style: none;
    display: inline;
    padding: 0 1em;
  }

  a{
    text-decoration: none;
    color: #333333;
  }

  @media screen and (max-width: 779px){
    text-align: center;
}
}
