
.per-state,
.contact,{
  border-bottom: none;
}

.center{
  text-align: center;
}

.hero-image{
  border: none;
  max-height: 800px;
  width: inherit;
}

.logo{
  height: 400px;
  overflow-y: hidden;

  @media screen and (max-width: 600px){
    height: 250px;
  }
}

img{
  width: 100%;
  height: auto;
}

.projectpreview{
  height: inherit;
  display: block;
}

.projectpreview:hover{
   .projectlogo{
     opacity: 0;
     z-index: 0;
   }
 }

.project-desc{
  margin: 0;
  padding: 0
}

.projectlogo{
  width: inherit;
  height: inherit;
  z-index: 2;
  margin: 0 -1em;
  position: absolute;
  background-color: white;
  border-bottom: 2px solid rgba(151, 151, 151, 0.1);
  opacity: 1;
  transition: all 0.5s ease;

  @media screen and (max-width: 600px){
    display: none;
  }
}

.subpagelink{
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  color: #ffffff;
  text-align: center;
  background-color: rgba(0, 0, 0, .5);

  p{
  text-align: center;
  }
}

.contact{
  margin-top: 4.5em;
}




#about{
  padding-top: 5em;

  @media screen and (max-width: 779px){
  padding-top: 7em;
  }

  @media screen and (max-width: 600px){
  padding-top: 9em;
  }
}

#contact-sec,
#about{
  border-bottom: 2px solid rgba(151, 151, 151, 0.1);
}

#dubai{
  background-image: url(../images/dubai/dubai_mockup_home.jpg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#proctorandgamble{
  background-image: url(../images/PandG/proctorandgamble_mockup_home.jpg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#vans{
  background-image: url(../images/vans/Vans_mockup_home.jpg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#aframe{
  background-image: url(../images/aframe/aframe_mockup_home.jpg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#ichor{
  background-image: url(../images/ichor/ichor_bottle_mockup.jpg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#kenor{
  background-image: url(../images/kenor/kenor_brochure_mockup.jpg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#journals{
  background-image: url(../images/journals/journals_home.jpg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#philpotts{
  background-image: url(../images/philpotts/philpotts_mockup_devices.jpg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
