
.per-state,
.contact,{
  border-bottom: none;
}

.center{
  text-align: center;
}



.hero-image{
  border: none;
  margin-left: -1em;
  margin-right: -1em;
}

img{
  width: 100%;
  height: auto;
}

.portfolio-sec{
}

.projectpreview{
  height: inherit;
  display: block;
}

.projectpreview:hover{
   .projectlogo{
     display: none;
   }
}

.project-desc{
  margin: 0;
  padding: 0
}

.projectlogo{
  width: inherit;
  height: inherit;
  z-index: 2;
  margin: 0 -1em;
  position: absolute;
  background-color: white;
  border-bottom: 2px solid rgba(151, 151, 151, 0.1);

  @media screen and (max-width: 600px){
    display: none;
  }
}

.subpagelink{
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  color: #ffffff;
  text-align: center;
  background-color: rgba(0, 0, 0, .5);

  p{
  text-align: center;
  }
}



.logo{
  height: 400px;
  overflow-y: hidden;
}

.contact{
  margin-top: 4.5em;
}

.social{
  margin-top: 2em;
}

.social-icon{
  max-height: 40px;
  max-width: 40px;
  margin: 0 1em;
}

.footer{
  text-align:center;
  margin: 0;
}

#about{
  padding-top: 5em;
}

#dubai{
  background-image: url(../images/dubai/Dubai_MockUp.jpg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#proctorandgamble{
  background-image: url(../images/PandG/ProctorandGamble_Stationary.jpg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#vans{
  background-image: url(../images/vans/Vans_Shoebox.jpg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#aframe{
  background-image: url(../images/aframe/aframe_mock-up.jpg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#ichor{
  background-image: url(../images/ichor/ichor_bottle_mockup.jpg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#kenor{
  background-image: url(../images/kenor/kenor_brochure_mockup.jpg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#journals{
  background-image: url(../images/journals/Journals.jpg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#philpotts{
  background-image: url(../images/philpotts/Philpotts_Mock-Up_Devices.jpg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
