.personallogo{
  width: auto;
  max-height: 65px;
  margin-top: 15px;
}

.mainnav{
  text-align: right;
}


.hero-image{
  border: none;
  margin-left: -1em;
  margin-right: -1em;
}

img{
  max-width: 100%;
  height: auto;
}

.projectpreview{
  height: auto;
  display: block;
  position: relative;
  transition: opacity 0.5s;
}

.projectpreview:hover{
   .projectlogo{
     display: none;
   }
}

.projectlogo{
  max-width: 500px;
  max-height: 200px;
  margin-top: 100px;
  z-index: 3;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  background-color: white;
}

.subpagelink{
  position: absolute;
  z-index: 2;
}

.hoverimage{
  width: 100%;
  height: auto;
  position: absolute;
  margin-left: -1em;
  margin-right: -1em;
  z-index: 0;
}

.logo{
  height: 400px;
  overflow-y: hidden;
}

form{
  .message{
    width: 100%;
    height: auto;
  }
}
