/* Form */

form {
  width: 100%;

  label {
    font-size: 16px;
  }

  select{
    padding: .5em;
    text-align: center;
  }

  input,
  textarea{
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #979797;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 779px){
    text-align: center;
  }

}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="checkbox"],
input[type="radio"],
textarea,
select {
  -webkit-appearance: none;
  appearance: none;

  &:focus,
  &:active {
    outline: 0;
  }
}

.form-sec {
	form {
	  padding: 0 1em;
	}

	  input,
	  textarea {
		margin: 0 0 0.5em;
	  }
}
