/* Typography */

html {
  font-size: $base-font;
}

body{
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  font-size: type-scale(0);
  line-height: $line-height;
  font-family: $sans-serif;
  color: #333;

  @media screen and (min-width: 600px){
    font-size: type-scale(1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: $sans-serif;
  font-weight: 600;
}

h1 {
  font-size: type-scale(3);
  padding-top: 1.5em;
  font-weight: 400;

  @media screen and (max-width: 650px){
    font-size: type-scale(2);
  }
}

h2 {
  font-size: type-scale(2);
}

h3 {
  font-size: type-scale(1);
}

h4 {
  font-size: type-scale(0);
}

h5 {
  font-size: type-scale(0);
  font-weight: 400;
}

h6 {
  font-size: type-scale(0);
  font-weight: 200;
}

p {
  font-size: $base-font;
  text-align:left;;
  margin: 2em 0;
  padding: 1em .5em;

  @media screen and (max-width: 779px) {
    margin: 0 7em;
    padding: 1em 0;
  }
  @media screen and (max-width: 600px){
    margin: 0 4em;
  }
  @media screen and (max-width: 450px){
    margin: 0 1em;
  }
}
