button,
.button,
.about-button{
    font-size: $base-font;
    font-family: $sans-serif;
    appearance: none;
    background-color: transparent;
    border: 0 none;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    font:inherit;
    padding: 0.6em 1em;
    margin: 5em 1em 0 1em;
    background-color: rgba( 255, 255, 255, .2);
    border-radius: 3px;
    height: 40px;
    width: 125px;

    &:hover {
      background-color: #66CC66;;
    }

    &:focus,
    &:active {
      outline: none;
      box-shadow: 0 0 1px 3px rgba(76, 130, 246, 0.5);
    }
  }

  .about-button{
    font-size: $base-font;
    font-family: $sans-serif;
    color: #ffffff;
    background-color: #66CC66;
    margin: 2em 1em;

    &:hover{
      color: #ffffff;
      background-color: rgba( 0, 0, 0, .3);
    }
  }




//.button{
  //
  //font-size: $base-font;
//}
