.button{
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    appearance: none;
    background-color: transparent;
    border: 0 none;

    display: inline-block; // Make display properties consistent across the board
    text-decoration: none; // Remove underline for anchor buttons
    color: #FFFFFF;        // Inherit the default color (ie. black)
    font:inherit;          // Inherit the default body font
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    background-color: #66CC66;
    border-radius: 3px;
    height: 40px;
    width: 125px;

    &:hover {
      background-color: #ffffff;
      border: 1px solid #66cc66;
      color: #66cc66;
    }

    &:focus,
    &:active {
      outline: none;
      box-shadow: 0 0 1px 3px rgba(76, 130, 246, 0.5);
    }
  }
}


.button{
  text-align: center;
  margin-bottom: .5em;
  font-size: $base-font;
}
